.button {
    font: inherit;
    border: 1px solid #0d010f;
    background: rgb(11, 147, 201);
    color: white;
    padding: 0.6rem 2.0rem;
    cursor: pointer;
    font-size: 1.15rem;
    border-radius: 30px;
  }
  
  /* .button:active, 
  .button:hover
   {
    background: rgb(51, 49, 49);
    border-color: black;
  }*/
  
  .button:focus {
    outline: none;
  }
  
  .button:disabled,
  .button:focus:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #666666;
    cursor: not-allowed;
  }
  