.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /*border: 1px solid #eaeaea;*/
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.37);
  
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 40%;
  height: 300px;
  /*
  background-image: url(../../assets/pokedexbg.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  */
  
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  


}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.landingImage {
  position: absolute;
}

/*De 0px hasta max-width comportate así:  */
@media (max-width: 900px) {
  .card {
    width: 85%;
  }
}
